#DM
{
    background-color: rgb(191, 209, 209);
    height: 550px;;
    width: 550px;
    padding-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

h2
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 200px;
    padding-bottom: 10px;
}

#imagen
{
    height: 200px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10%;
    padding-bottom: 5%;
    display: block;
}

#texto
{
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

#botonLeer
{
    padding-top: 10px;
    color:rgb(20, 85, 55) ;
    background-color:  rgb(109, 196, 152);
    height: 45px;
    width: 200px;
    font-size: 10;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

